* {
	font-family: sans-serif;
}

h1 {
	font-size: 3vw;
}

h3 {
	font-size: 1.5vw;
}

p {
	font-size: 1.3vw;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #2e3192;
}

a:active {
  text-decoration: none;
  color: #2e3192;
} 

.grid {
	display: grid;
	grid-template-columns: 20vw auto;
	grid-template-areas:
	"logo text"
	"menu text";
	grid-gap: 30px;
	padding: 30px;
}

.logo {
	grid-area: logo;
}

.menu {
	grid-area: menu;
}

.text {
	grid-area: text;
}

