* {
	font-family: sans-serif;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 20;
}

i {
	font-size: 15px;
}

p {
	font-size: 15px;
}

code {
	font-family: monospace;
	font-size: 15px;
	background-color: lightgrey;
	padding: 5px;
}

pre {
	margin: 30px;
	padding: 10px;
	background-color: lightgrey;
}

blockquote {
	padding: 0 5px;
	border-left: 1px solid lightgrey;
	margin-left: 0;
}

li {
	font-size: 13px;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: #2e3192;
}

a:active {
	text-decoration: none;
	color: #2e3192;
} 

.grid {
	display: grid;
	grid-template-rows: 200px auto;
	grid-template-columns: 200px auto;
	grid-template-areas:
	"logo ugly"
	"menu text";
	grid-gap: 30px;
	padding: 30px;
}

.logo {
	grid-area: logo;
}

.menu {
	grid-area: menu;
	border-right: black solid 1px;
}

.text {
	grid-area: text;
}

.ugly {
	grid-area: ugly;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
