* {
	font-family: sans-serif;
}

h1 {
	font-size: 2.5vmax;
}

h2 {
	font-size: 2vmax;
}

h3 {
	font-size: 1.5vmax;
}

p {
	font-size: 1.3vmax;
}

code {
	font-family: monospace;
	font-size: 1.3vmax;
	background-color: lightgrey;
}

pre {
	margin: 30px;
	padding: 10px;
	background-color: lightgrey;
}

blockquote {
	padding: 0 1em;
	border-left: .25em solid lightgrey;
	margin-left: 0;
}

li {
	font-size: 1.3vmax;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: #2e3192;
}

a:active {
	text-decoration: none;
	color: #2e3192;
} 

.grid {
	display: grid;
	grid-template-rows: 30vmin 60vmin;
	grid-template-columns: 20vmax auto;
	grid-template-areas:
	"logo text"
	"menu text";
	grid-gap: 30px;
	padding: 30px;
}

.logo {
	grid-area: logo;
}

.menu {
	grid-area: menu;
}

.text {
	grid-area: text;
}

